# Winderoo ESP-IDF defaults (ESP32 DevKit v1)
CONFIG_ESP_HTTP_SERVER=y
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
CONFIG_HTTPD_MAX_URI_LEN=512
CONFIG_HTTPD_MAX_RESP_HEADERS=16

CONFIG_MDNS=y
CONFIG_LWIP_DHCPD=y
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=y

CONFIG_LITTLEFS=y
CONFIG_LITTLEFS_FORMAT_IF_FAIL=y

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
